{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel Article</h1>

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.isPublished) }}

    <button type="submit">Enregistrer</button>

    {{ form_end(form) }}

    <a href="{{ path('article_index') }}">Retour à la liste des articles</a>
{% endblock %}
